In [22]:
import pickle
import pandas as pd
import numpy as np
import matplotlib
import geopandas
import os.path

In [26]:
f = os.path.expanduser("~/Documents/Vodacom/data/df_raw_final.pkl")
#reading from datafile
df = pd.read_pickle(f)
#datafile = df

In [35]:
df

,EA_CODE,SAL_CODE,SP_NAME,SP_NBH_ID,MP_NAME,MN_NAME,MN_TYPE,DC_NAME,PR_NAME,TOTAL_HH17,...,sales_psk,D_NW_RESD_KM2,D_LEARNERS_KM2,D_FORMAL_KM2,D_DOMESTIC_KM2,D_TOT_WORK_KM2,D_MIGR_OUT_KM2,D_MIGR_IN_KM2,sales_label,target_label
0,16510049.0,1650120.0,Witzenberg NU,165001001,Witzenberg NU,Witzenberg,Local Municipal,Cape Winelands,Western Cape,26.331867,...,NaN,0.006259,0.00000,0.022662,0.000432,0.023093,0.008633,0.023093,NaN,NaN
1,16510048.0,1650120.0,Witzenberg NU,165001001,Witzenberg NU,Witzenberg,Local Municipal,Cape Winelands,Western Cape,6.269492,...,NaN,0.001044,0.00000,0.001193,0.000000,0.001193,0.001342,0.001193,NaN,NaN
2,16510052.0,1650071.0,Witzenberg NU,165001001,Witzenberg NU,Witzenberg,Local Municipal,Cape Winelands,Western Cape,22.570172,...,NaN,0.006438,0.00000,0.029372,0.000201,0.029573,0.006438,0.029573,NaN,NaN
3,16510132.0,1650059.0,Witzenberg NU,165001001,Witzenberg NU,Witzenberg,Local Municipal,Cape Winelands,Western Cape,25.077969,...,NaN,0.009446,0.00000,0.066390,0.000540,0.066930,0.011065,0.066930,NaN,NaN
4,16510007.0,1650045.0,Witzenberg NU,165001001,Witzenberg NU,Witzenberg,Local Municipal,Cape Winelands,Western Cape,8.777289,...,NaN,0.027845,0.00000,0.600855,0.001466,0.602321,0.030776,0.602321,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103588,59912244.0,5991589.0,Savannah Park,599116059,Pinetown,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,252.090485,...,NaN,14.053315,0.00000,0.000000,0.038397,0.038397,6.258717,0.038397,NaN,NaN
103589,59912508.0,5991201.0,Savannah Park,599116059,Pinetown,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,198.273415,...,NaN,30.422200,0.00000,0.000000,0.095069,0.095069,16.256863,0.095069,NaN,NaN
103590,59911724.0,5991589.0,Savannah Park,599116059,Pinetown,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,123.212765,...,NaN,9.074058,0.00000,0.000000,0.050693,0.050693,4.055445,0.050693,NaN,NaN
103591,59912770.0,5992785.0,Savannah Park,599116059,Pinetown,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,222.349473,...,NaN,13.892274,18.55759,1.036737,0.000000,1.036737,6.790627,1.036737,NaN,NaN
103592,59912243.0,5992472.0,Savannah Park,599116059,Pinetown,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,301.658839,...,NaN,13.829209,0.00000,0.666468,0.000000,0.666468,6.997913,0.666468,NaN,NaN

In [37]:
df.D_LEARNERS_KM2.mean()
df.D_MIGR_IN_KM2.max()

1407.1865148938675