In [1]:
import pickle
import pandas as pd
import numpy as np
import matplotlib
import geopandas
import os.path

In [2]:
f = os.path.expanduser("~/Documents/Vodacom/data/df_raw_final.pkl")

#reading from datafile
df = pd.read_pickle(f)

#datafile = df

In [3]:
df.D_LEARNERS_KM2.mean()
df.D_MIGR_IN_KM2.max()

1407.1865148938675

In [4]:
dfclean = df.dropna(subset = ['target_label'])

#new data set after dropping all values with NaN

In [5]:
dfclean = dfclean.replace(to_replace = "yes", value = 1)
dfclean = dfclean.replace(to_replace = "no", value = 0)
dfclean = dfclean.replace(to_replace = "maybe", value = 2)

#replace all strings "yes", "no", "maybe" with integers 0, 1, 2
dfclean

,EA_CODE,SAL_CODE,SP_NAME,SP_NBH_ID,MP_NAME,MN_NAME,MN_TYPE,DC_NAME,PR_NAME,TOTAL_HH17,...,sales_psk,D_NW_RESD_KM2,D_LEARNERS_KM2,D_FORMAL_KM2,D_DOMESTIC_KM2,D_TOT_WORK_KM2,D_MIGR_OUT_KM2,D_MIGR_IN_KM2,sales_label,target_label
202,49911465.0,4991180.0,Bayswater Rural,499023010,Bloemfontein,Mangaung,Metropolitan Mu,Mangaung,Free State,342.592439,...,NaN,1.025372,4.918494,0.509944,1.069238,1.579182,2.928067,1.579182,NaN,1
316,49911534.0,4991157.0,Bayswater,499023009,Bloemfontein,Mangaung,Metropolitan Mu,Mangaung,Free State,57.548336,...,NaN,1.424524,1.249582,3.573806,0.649783,4.223589,2.374207,4.223589,NaN,2
678,49911537.0,4990211.0,Bayswater,499023009,Bloemfontein,Mangaung,Metropolitan Mu,Mangaung,Free State,102.507974,...,0.081773,4.170415,0.000000,1.471911,1.635457,3.107368,5.805872,3.107368,NaN,0
986,49911155.0,4990980.0,Fauna,499023057,Bloemfontein,Mangaung,Metropolitan Mu,Mangaung,Free State,137.576491,...,0.314591,4.823729,0.000000,0.786478,3.879956,4.666434,13.684710,4.666434,NaN,1
987,49911160.0,4990096.0,Fauna,499023057,Bloemfontein,Mangaung,Metropolitan Mu,Mangaung,Free State,152.862768,...,0.257802,13.921317,0.000000,10.698790,7.089559,17.788349,20.108568,17.788349,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103522,59914149.0,5990604.0,Assagay,599099002_1,Outer West Durban,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,196.857177,...,NaN,2.541670,5.947176,0.498367,1.495100,1.993467,4.285954,1.993467,NaN,2
103523,59914033.0,5991967.0,Bothas Hill,599099001,Outer West Durban,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,171.364880,...,NaN,1.441352,0.000000,8.154762,0.377267,8.532028,1.276902,8.532028,NaN,0
103524,59914036.0,5990895.0,Assagay,599099002_1,Outer West Durban,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,226.462558,...,0.005300,0.272929,0.000000,0.463714,0.180186,0.643900,0.789639,0.643900,0.0,0
103551,59913325.0,5992673.0,Caversham Glen,599116028,Pinetown,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,192.608461,...,1.229583,53.281913,0.000000,0.000000,22.542348,22.542348,104.924382,22.542348,1.0,1
103578,59911803.0,5991789.0,Manors,599116003,Pinetown,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,196.857177,...,0.022455,3.615300,0.000000,0.000000,2.088341,2.088341,7.859347,2.088341,0.0,0

In [8]:
dfclean = dfclean[dfclean.target_label != 2]

#remove all rows with target_label = 2 ("maybe")

In [7]:
dfclean

,EA_CODE,SAL_CODE,SP_NAME,SP_NBH_ID,MP_NAME,MN_NAME,MN_TYPE,DC_NAME,PR_NAME,TOTAL_HH17,...,sales_psk,D_NW_RESD_KM2,D_LEARNERS_KM2,D_FORMAL_KM2,D_DOMESTIC_KM2,D_TOT_WORK_KM2,D_MIGR_OUT_KM2,D_MIGR_IN_KM2,sales_label,target_label
202,49911465.0,4991180.0,Bayswater Rural,499023010,Bloemfontein,Mangaung,Metropolitan Mu,Mangaung,Free State,342.592439,...,NaN,1.025372,4.918494,0.509944,1.069238,1.579182,2.928067,1.579182,NaN,1
678,49911537.0,4990211.0,Bayswater,499023009,Bloemfontein,Mangaung,Metropolitan Mu,Mangaung,Free State,102.507974,...,0.081773,4.170415,0.000000,1.471911,1.635457,3.107368,5.805872,3.107368,NaN,0
986,49911155.0,4990980.0,Fauna,499023057,Bloemfontein,Mangaung,Metropolitan Mu,Mangaung,Free State,137.576491,...,0.314591,4.823729,0.000000,0.786478,3.879956,4.666434,13.684710,4.666434,NaN,1
987,49911160.0,4990096.0,Fauna,499023057,Bloemfontein,Mangaung,Metropolitan Mu,Mangaung,Free State,152.862768,...,0.257802,13.921317,0.000000,10.698790,7.089559,17.788349,20.108568,17.788349,NaN,0
989,49911152.0,4990677.0,Fauna,499023057,Bloemfontein,Mangaung,Metropolitan Mu,Mangaung,Free State,126.786178,...,0.184351,6.452282,68.271287,3.932819,3.133965,7.066785,14.870973,7.066785,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103521,59913397.0,5991277.0,Assagay,599099002_1,Outer West Durban,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,228.014428,...,NaN,2.066470,0.000000,0.733992,1.456692,2.190684,3.319902,2.190684,NaN,0
103523,59914033.0,5991967.0,Bothas Hill,599099001,Outer West Durban,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,171.364880,...,NaN,1.441352,0.000000,8.154762,0.377267,8.532028,1.276902,8.532028,NaN,0
103524,59914036.0,5990895.0,Assagay,599099002_1,Outer West Durban,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,226.462558,...,0.005300,0.272929,0.000000,0.463714,0.180186,0.643900,0.789639,0.643900,0.0,0
103551,59913325.0,5992673.0,Caversham Glen,599116028,Pinetown,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,192.608461,...,1.229583,53.281913,0.000000,0.000000,22.542348,22.542348,104.924382,22.542348,1.0,1
103578,59911803.0,5991789.0,Manors,599116003,Pinetown,eThekwini,Metropolitan Mu,eThekwini,KwaZulu-Natal,196.857177,...,0.022455,3.615300,0.000000,0.000000,2.088341,2.088341,7.859347,2.088341,0.0,0